# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDE workspace
.idea
.vscode

dist/*

# binary
frite
frite-web 

#test 
links.txt